{{ define "main" }}

{{ partial "banner.html" . }}
<hr>
     <div class="swiffy-slider slider-item-nogap slider-nav-autoplay slider-nav-dark slider-nav-page slider-nav-animation slider-nav-animation-appear slider-nav-animation-slow">
    <ul class="slider-container">
        <li class=""><img src="https://aceapugtar.cloudimg.io/beningabaditransport.com/images/wuling.jpg" style="max-width: 100%;height: auto;margin: auto;display: block;"></li>
        <div id="slide1"></div>
        <li class="slide-visible"><img src="https://aceapugtar.cloudimg.io/beningabaditransport.com/images/wuling-price.jpg" style="max-width: 100%;height: auto;margin: auto;display: block;"></li>
        <div id="slide2"></div>     
    </ul>
</div>
<iframe id="Frame1" title="bening" width="98%" height="500px" src="https://hackmd.io/@brafie/Syn48yRHs" frameborder="10"></iframe>
<hr>
<a href="https://www.blogs-collection.com/asia/" title="Asia Blogs Directory" target="_blank">Blogs Directory</a>
{{ partial "penginapan.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

{{ end }}
