{{ define "main" }}

{{ partial "banner.html" . }}

<iframe id="Frame1" title="bening" width="98%" height="500px" src="https://hackmd.io/@brafie/Syn48yRHs" frameborder="0"></iframe>
<hr>
<div class="review-widget_net" data-uuid="756fdb53-598d-499a-8e28-9e75094ce53c" data-template="3" data-filter="" data-lang="en" data-theme="light"><center><a href="https://www.review-widget.net/" target="_blank" rel="noopener"><img src="https://grwapi.net/assets/spinner/spin.svg" title="Google Review Widget" alt="Google Review Widget"></a></center></div><script async type="text/javascript" src="https://grwapi.net/widget.min.js"></script>
<hr>
{{ partial "penginapan.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

{{ end }}
